.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.nav-item:only-child {
  margin-left: auto;
}

.poweredBy {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}
