.buttonCont {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: var(--max-width);
  max-width: 80%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.logo {
  position: relative;
}
