.buttonCont {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 450px) {
  .buttonCont {
    flex-direction: column;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}

.logo {
  position: relative;
}
